<p>Añadir comentario: </p>
<p>
<form method="post" action="/quizes/<%=quiz.id%>/comments/" >      
  <input type="text" id="comment" name="comment[text]" value="" placeholder="Comentario" /> <p>
  <button type="submit">Enviar</button>
</form>
</p>
