<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Autor del <%= title %>:</h1>
    <h2>Raúl Sánchez-Mateos Lizano</h2>
    <img src="images/autor.jpg" width="100" alt="Raúl Sánchez-Mateos Lizano"/>
  	<footer>
  		<a href="https://github.com/rsanchez15/quiz.git" target="_blank">Página de GitHub</a><br><br>
  	</footer>
  </body>
</html>
