<form method="get" action="/quizes">
	Buscar preguntas:<br>
	<input type="text" name="search" placeholder="Palabra clave a buscar"/><br>
	<input type="submit" value="Buscar">
</form>

<br><br>

<table>
	<% for (var i in quizes) { %>
		<tr>
			<td>
				<a href="quizes/<%= quizes[i].id %>"><%= quizes[i].question %></a>
			</td>
			<td>
				<a href="quizes/<%= quizes[i].id %>/edit"><button>Editar</button></a>
			</td>
		</tr>
		</tr>
	<% } %>
</table>

<a href="/quizes/new"><button type="button">Crear pregunta</button></a>