<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Quiz</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h2>Quiz: El juego de las preguntas</h2>
    <form method="get" action="/check">
      Pregunta: <%= question %> <p>
      <input type="text" name="answer" value="" placeholder="Responda aquí"/>
      <input type="submit" value="Comprobar"></p>
    </form>
  	<footer>
  		<a href="https://github.com/rsanchez15/quiz.git" target="_blank">Página de GitHub</a>
  	</footer>
  </body>
</html>
